Consistent 2019 to 1999 wards with 1999 districts.dta
Master list of changes to madn.dta
Suggested changes to invalid VSIC1993 industry codes.dta
VSIC2007 5-digit codes and descriptions.dta
country_code.csv
country_code.dta
*.dta
temp
